# Python
__pycache__/
*.pyc
.env
.venv/
venv/
*.egg-info/

# Build folders
build/
build*/
tests/build/

# Data
data/
data/*

# VS Code
.vscode/

# macOS
.DS_Store

# Frontend dependencies
pdf_search/frontend/node_modules/

# Frontend build output
pdf_search/frontend/dist/
pdf_search/frontend/build/
